@import 'var';

html, body {
  margin  : 0;
  padding : 0;
  width   : 100%;
  height  : 100%;
}

.bg-blue {
  background-color: blue;
}

.bg-yellow {
  background-color: yellow;
}

#main {
  height: 100%;
}

.page {
  visibility  : hidden;
  opacity     : 0;
  transition  : all 1s;
  position    : absolute;
  top         : 0;
  left        : 0;
  width       : 100%;
}

#control-boards {
  height: 100%;
  position: relative;
}

.current-page {
  visibility  : visible;
  opacity     : 1;
  transition  : all 1s;
}

#control-transition {
  height    : 100vh;
  width     : 100%;
  position  : absolute;
  top       : 0;
  left      : -100%;
  background: green;
}